﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-10">
    <div class="col-md-8">
        <div class="title"><i class="icofont-list"></i> List Makhluk Hidup</div>
    </div>
    <div class="col-md-4 text-right">
        <button type="button" class="btn btn-success" onclick="load_modal('tambah','null')"><i class="icofont-plus"></i> Tambah Data</button>
    </div>
</div>
<br>
<table class="table" id="tabelmakhluk">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Jenis</th>
            <th>Asal</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function () {
        loaddatamakhluk();
    });

    function loaddatamakhluk() {
        $('#tabelmakhluk').dataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "bDestroy": true,
            "ajax": {
                "url": "/MakhlukHidup/LoadDataMakhluk",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "no" },
                { "data": "nama_mk" },
                { "data": "tempat_lahir" },
                { "data": "tanggal_lahir" },
                { "data": "nama_jenis" },
                { "data": "nama_asal" },
                {
                    "render": function (data, type, row) {
                        return "<button type='button' onclick=delete_data('" + row.mk_id + "') class='btn btn-danger'><i class='icofont-trash'></i></button> <button type='button' onclick=load_modal(\'edit\','" + row.mk_id + "') class='btn btn-primary'><i class='icofont-pencil-alt-1'></i></button>";
                    },
                },
            ]
        });
    }


    function load_modal(action, id) {

        $('#modal-global').modal('show');
        $.ajax({
            url: "/MakhlukHidup/PartialForm",
            data: {
                id: id,
                action: action,
            },
            contentType: 'application/x-www-form-urlencoded',
            type: "post",
            beforeSend: function (data, v) {
                if (action == "tambah") {
                    $('.modal-title').html('Tambah Makhluk Hidup');
                } else {
                    $('.modal-title').html('Edit Makhluk Hidup');
                }
                $('.modal-body').html('<div align="center"><p>Loading...</p></div>');
            },
            error: function (data, v) {
                $('.modal-body').html('Terjadi kesalahan..');
            },
            success: function (data, v) {
                $('.modal-body').html(data);
            }
        });
    }

    function delete_data(id) {
        var _id = id;
        swal({
            title: "Delete",
            text: "Lanjutkan Menghapus Data?",
            type: "warning",
            buttons: true,
            dangerMode: true,
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/MakhlukHidup/DeleteData",
                    data: {
                        id: _id,
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    type: "POST",
                    error: function (data, v) {
                        swal({
                            title: "Gagal",
                            type: "error"
                        });
                    },
                    success: function (data, v) {
                        loaddatamakhluk();
                        swal({
                            title: "Berhasil",
                            text : data,
                            type: "success"
                        });
                    }
                });
            } else {
                swal({
                    title: "Batal",
                    text: "Data Batal Dihapus",
                    type: "info"
                });
            }
        });
    }
</script>
