﻿@{
    var id = ViewBag.id;
    var nama = ViewBag.nama;
    var tempatlahir = ViewBag.tempatlahir;
    var tanggal = ViewBag.tanggal;
    var jenis_id = ViewBag.jenis;
    var asal_id = ViewBag.asal;


}

<form id="form_makhluk" method="post">
    <input class="form-control " name="id" value="@id" type="hidden" id="id">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nama</label>
                <input class="form-control mandatory-akses" name="nama" value="@nama" type="text" id="nama" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tempat Lahir</label>
                <input class="form-control mandatory-akses" name="tempat" value="@tempatlahir" type="text" id="tempat" autocomplete="off">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input class="form-control mandatory-akses" name="tanggal" value="@tanggal" type="date" id="tanggal" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Jenis Makhluk</label>
                <select class="form-control" name="jenis" id="jenis">
                    <option selected disabled value="">Pilih Jenis</option>
                    @{

                        foreach (var item in @pembelajaran_crud.Component.Helper.DropDownJenis())
                        {
                            if (jenis_id.ToString() == item.Value.ToString())
                            {
                                <option value=@item.Value selected>@item.Text</option>
                            }
                            else
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Asal Makhluk</label>
                <select class="form-control" name="asal" id="asal">
                    <option selected disabled value="">Pilih Asal</option>
                    @{

                        foreach (var item in @pembelajaran_crud.Component.Helper.DropDownAsal())
                        {
                            if (asal_id.ToString() == item.Value.ToString())
                            {
                                <option value=@item.Value selected>@item.Text</option>
                            }
                            else
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div align="right">
        <button class="btn btn-primary right" id="submit_save">Save</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#form_makhluk").on("submit", function (event) {
            event.preventDefault();

            var id = $("#id").val();
            var nama = $("#nama").val();
            var tanggal = $("#tanggal").val();
            var tempat = $("#tempat").val();
            var asal = $("#asal").val();
            var jenis = $("#jenis").val();

            $.ajax({
                url: '/MakhlukHidup/InsertUpdateData',
                contentType: 'application/x-www-form-urlencoded',
                type: "post",
                data: {
                    id: id,
                    nama: nama,
                    tempat: tempat,
                    tanggal: tanggal,
                    asal: asal,
                    jenis: jenis
                },
                beforeSend: function () {
                    swal({
                        title: "Menyimpan",
                        type: "info"
                    });
                },
                success: function (data) {
                    $('#modal-global').modal('hide');
                    swal({
                        title: "Berhasil",
                        text: data,
                        type: "success"
                    });
                    loaddatamakhluk(id);
                },
                error: function (xhr, status, error) {
                    swal({
                        title: "Gagal",
                        text: error,
                        type: "error"
                    });
                }
            });
        });
    });

</script>

